@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
      }
    }
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .syntax--marker .region,
.search-results .syntax--marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region,
.search-results .syntax--marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.syntax--comment {
  color: @comment;
}

.syntax--keyword {
  color: @keyword;

  &.syntax--control.syntax--directive {
    color: @preprocessor;
  }

  &.syntax--operator {
    color: @operator;
    &.syntax--sizeof.syntax--c {
      color: @keyword;
    }
  }

  &.syntax--other {
    &.syntax--special-method {
      color: @function-builtin;
    }

    &.syntax--unit {
      color: @syntax-text-color;
    }

    &.syntax--namespace.syntax--cs {
      color: @type;
    }
  }
}

.syntax--storage {
  color: @type;
}

.syntax--constant {
  color: @constant;

  &.syntax--character.syntax--escape {
    color: @light-blue;
  }

  &.syntax--numeric {
    color: @number;
  }

  &.syntax--other {
    &.syntax--placeholder {
      color: @light-blue;
    }

    &.syntax--symbol {
      color: @string;
    }
  }
}

.syntax--variable {
  color: @variable;

  &.syntax--language {
    color: @keyword;
  }

  &.syntax--interpolation {
    color: darken(@red, 10%);
  }
}

.syntax--invalid.syntax--illegal {
  background-color: darken(@red, 10%);
  color: @syntax-text-color;
}

.syntax--string {
  color: @string;

  &.syntax--other.syntax--link {
    color: @red;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @comment;
    }

    &.syntax--string.syntax--begin,
    &.syntax--string.syntax--end {
      color: @string;
    }

    &.syntax--string,
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-text-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @blue;
    }

    &.syntax--bold {
      color: @light-orange;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: @keyword;
  }

}

.syntax--support {
  &.syntax--type {
    &.syntax--sys-types,
    &.syntax--pthread,
    &.syntax--stdint {
      color: @type;
    }
  }

  &.syntax--function  {
    color: @function;
  }
}

.syntax--entity {
  &.syntax--name {
    &.syntax--function {
      color: @function;
    }

    &.syntax--type,
    &.syntax--section {
      color: @syntax-text-color;
    }

    &.syntax--tag {
      color: @keyword;
    }
  }

  &.syntax--other.syntax--inherited-class {
    color: @syntax-text-color;
  }

  &.syntax--other.syntax--attribute-name {
    color: @keyword;

    &.syntax--id {
      color: @type;
    }
  }
}

.syntax--meta {
  &.syntax--preprocessor,
  &.syntax--preprocessor * {
    color: @preprocessor;

    &.syntax--comment {
      color: @comment;
    }

    &.syntax--entity.syntax--name.syntax--function,
    &.syntax--constant {
      color: @preprocessor;
    }

    &.syntax--punctuation.syntax--definition {
      &.syntax--parameters,
      &.syntax--string {
        color: @preprocessor;
      }
    }

    &.indent-guide {
      color: @syntax-indent-guide-color;
    }
  }

  &.syntax--keyword.syntax--using.syntax--cs {
    color: @syntax-text-color;
  }

  &.syntax--link {
    color: @orange;
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @purple;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @orange;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @purple;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--italic {
    color: @purple;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: @orange;
  }

  &.syntax--raw.syntax--inline {
    color: @green;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: @green;
  }
}

atom-text-editor[mini] .scroll-view, .scroll-view {
  padding-left: 1px;
}
