// These colors are specific to the theme. Do not use in a package!

@dark-gray: #2e2e2e;
@gray: #797979;
@light-gray: #d6d6d6;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;

@light-green: #8dca94;
@light-yellow: #dcdcaa;
@light-blue: #a2c5db;
@light-orange: #eeba88;
@pink: #d9a6a6;

@mainbg: @dark-gray;
@mainfg: @light-gray;
@selection: lighten(@mainbg, 15%);
@bookmark: @light-yellow;
@comment: @gray;
@keyword: @light-yellow;
@type: @pink;
@operator: @mainfg;
@variable: @mainfg;
@constant: @mainfg;
@string: @light-orange;
@number: @light-blue;
@function: @mainfg;
@function-builtin: @mainfg;
@preprocessor: @light-green;
